* {

}

body {
  background-color: #fbf6df;

}

#chefHeadTesk {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
}

/*#login {
  color: #212121;
}*/
/*font-family: 'Pacifico', cursive;*/
/*<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">*/
/*font-family: 'Dancing Script', cursive;*/
