* {
  font-family: 'Slabo 27px', serif;
}

body {
  background-color: #fbf6df;

}

#chefHeadTesk {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  box-shadow: inset 0 -0.125em white,
   inset 0 -0.2em #00897B;
}

#subhead {
  font-family: 'Slabo 27px', serif;
}

#grid-box-hover {
  background: linear-gradient(to bottom, rgba(0, 137, 123, 0), rgba(0, 137, 123, .95), rgba(0, 137, 123, 1));
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .25s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  opacity: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

#grid-box-hover:hover {
  opacity: 1;
}
